{% extends 'manager/index.html' %}

{% block content %}

<nav class="">
    <!-- Modal trigger button -->
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#add-menu">
        Add menu
    </button>
    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="add-menu" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
        aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content w-100">
                <form action="{% url 'add-menu' %}" enctype="multipart/form-data" method="post"
                    class="form-group w-100 align-items-start d-flex flex-column justify-content-center">
                    {% csrf_token %}
                    <table class="table">
                        <style>
                            label {
                                text-transform: capitalize;
                            }
                        </style>
                        <tr>
                            <td><label for="menu">Menu</label></td>
                            <td> <input type="text" name="menu" id="" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="cat">Category</label></td>
                            <td><select name="cat" id="" class="form-control text-capitalize">
                                    {% for cat in category %}
                                    <option value="{{cat.category}}" class="text-capitalize">{{cat.category}}</option>
                                    {% endfor %}
                                </select></td>
                        </tr>
                        <tr>
                            <td><label for="desc"></label>Description</td>
                            <td> <textarea name="description" id="" cols="30" rows="3" class="form-control"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="">Price</label></td>
                            <td><input type="number" value="0" name="price" id="" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="">S-Price</label></td>
                            <td> <input type="number" value="0" name="s-price" id="" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="">M-Price</label></td>
                            <td> <input type="number" value="0" name="m-price" id="" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="">L-Price</label></td>
                            <td> <input type="number" value="0" name="l-price" id="" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="">Picture</label></td>
                            <td> <input type="file" accept='image/' name="picture" id="" class="form-control"></td>

                        </tr>
                        <tr>
                            <td colspan="2" spellcheck="false" class="">
                                <button type="reset" data-bs-dismiss="modal" class="btn btn-danger">Reset</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
        </div>
    </div>
    <!-- Optional: Place to the bottom of scripts -->
    <script>
        const add = new bootstrap.Modal(document.getElementById('add-menu'), options)

    </script>
</nav>

<table class="table table-bordered table-hover">
    <thead class=" bg-dark text-white">

        <td>Menu</td>
        <td>Category</td>
        <td>Price</td>
        <td>S Price</td>
        <td>M Price</td>
        <td>L Price</td>
        <td>description</td>
        <td>img</td>
        <td>
            action
        </td>
    </thead>
    <tbody>
        {% for items in menu %}
        <tr>

            <td>{{items.menu}}</td>
            <td>{{items.category}}</td>
            <td>{{items.price}}</td>
            <td>{{items.s_price}}</td>
            <td>{{items.m_price}}</td>
            <td>{{items.l_price}}</td>
            <td>{{items.description}}</td>
            <td><a href="/media/{{items.picture}}" target="blank">{{items.picture}}</a></td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#del-menu{{items.id}}">
                    Delete
                </button>

                <!-- Modal Body -->
                <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                <div class="modal fade" id="del-menu{{items.id}}" tabindex="-1" data-bs-backdrop="static"
                    data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleId">Delete Menu</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <strong>You need to delete '{{items.menu}}'?</strong>
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'del' %}" method="post">
                                    {% csrf_token %}

                                    <input type="hidden" name="id" value="{{items.id}}">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-danger">Confirm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Optional: Place to the bottom of scripts -->
                <script>
                    const del = new bootstrap.Modal(document.getElementById('del-menu{{items.id}}'), options)
                </script>
                <!-- Modal trigger button -->
                <button type="button" class="btn btn-primary " data-bs-toggle="modal"
                    data-bs-target="#edit-{{items.id}}">
                    Edit
                </button>
                <!-- Modal Body -->
                <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                <div class="modal fade" id="edit-{{items.id}}" tabindex="-1" data-bs-backdrop="static"
                    data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <strong>Edit {{items.menu}}</strong>
                            </div>
                            <div class="modal-body">

                                <form action="{% url 'edit' %}" method="post" enctype="multipart/form-data"
                                    class="form-group edit d-flex flex-column p-3">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{items.id}}">
                                    <input type="text" name="menu" value="{{items.menu}}" id=""
                                        class="form-control my-1">
                                    <select name="cat" id="" class="form-control text-capitalize my-1">
                                        <option value="uncategory">Uncategory</option>
                                        {% for cat in category %}
                                        <option value="{{cat.category}}" class="text-capitalize">{{cat.category}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <input type="number" name="price" id="" value="{{items.price}}"
                                        class="form-control my-1">
                                    <input type="number" name="s-price" id="" value="{{items.s_price}}"
                                        class="form-control my-1">
                                    <input type="number" name="m-price" id="" value="{{items.m_price}}"
                                        class="form-control my-1">
                                    <input type="number" name="l-price" id="" value="{{items.l_price}}"
                                        class="form-control my-1">
                                    <textarea name="" id="desc" cols="30" rows="3" class="form-control my-1"></textarea>
                                    <a href="/media/{{items.picture}}" class="nav-link"
                                        target="blank">{{items.picture}}</a>
                                    <input class="form-control my-1" type="file" accept="image/" name="new-picture"
                                        id="">
                                    <hr>
                                    <div class="w-100 d-flex flex-row justify-content-end">
                                        <button type="reset" data-bs-dismiss="modal" class="btn btn-danger mx-1">
                                            cancel
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            Edit
                                        </button>

                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Optional: Place to the bottom of scripts -->
                <script>
                    const edit = new bootstrap.Modal(document.getElementById('edit-{{items.id}}'), options)
                </script>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}