{% extends 'cafe/index.html' %}

{% block content %}

<style>
    body {
        height: 100%;
    }

    .items {
        width: 100%;
        display: inline-block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;


    }

    .card>img {
        padding: 1rem;
        width: 200px;
        height: 150px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 100%;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: white;
        border-radius: 25px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: lightgray;
        border-radius: 25px;
        width: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #f1f1f1;

    }

    .cat-title {

        text-transform: capitalize;
    }
</style>

{% for category, menus in menu.items %}
<div class=" w-100 p-2 border">
    <strong class="cat-title">{{category}}</strong>
    <hr>
    <div class="items  p-2">
        {% for items in menus %}
        <div class="card d-inline-block" style="max-width: 12rem;">
            <img src="media/{{items.picture}}" alt="" class="card-img-top">
            <div class="p-3 d-flex flex-column card-body">
                <span class="d-flex flex-row justify-content-between align-items-baseline">
                    <strong class=" card-title">{{items.menu}}</strong>

                </span>
                <span class="justify-content-between d-flex card-text">
                    <p>{{items.category}}</p>
                    <b>{{items.price}} ฿</b>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}






{% endblock %}