strong {
    text-transform: capitalize;
}

* {
    font-family: cursive;
}

/* width */
::-webkit-scrollbar {
    width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 25px;
    width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;

}

