<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</head>

<body>
    <form action="" method="get" class="form-group container" id="register">
        [[ provinceSelected ]]
        <table class="table">
            <tr>
                <td>จังหวัด</td>
                <td>
                    <select name="" id="" class="form-control" v-model="provinceSelected"
                        @change="ProvinceOnSelected()">
                        <option v-for='prov in provinces' :value="prov">[[ prov ]]</option>
                    </select>
                </td>
            </tr>
        </table>

    </form>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="module">
        const { createApp } = Vue

        createApp({
            delimiters: ["[[", "]]"],
            data() {
                return {
                    provinces: null,
                    districts: null,
                    tambons: null,

                    provinceSelected: null,
                    districtSelected: '',
                    tambonSelected: '',
                }
            },
            mounted() {
                axios
                    .get("{% url 'prov' %}")
                    .then(response => (this.provinces = response.data))

            },
            methods: {
                ProvinceOnSelected() {
                    form_data = new FormData();
                    form_data.append("province", this.provinceSelected);
                    form_data.append("csrfmiddlewaretoken", "{{csrf_token}}");

                    axios.post("{% url 'dist' %}", form_data).then((response) => {
                        this.districts = response.data;
                    });
                    console.log('selected', this.provinceSelected)
                    

                }
            }
        }).mount('#register')

    </script>

</body>

</html>