.profileImg {
    width: 50px;
    height: 50px;
}

.profileInfo {
    height: 1rem;
}

header {
    padding-top: 2.5rem;

}

.h::after {
    content: 'order ';
    color: pink;
}

.searchBox {
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    width: 100%;
    /* border: 2px solid rgba(0, 0, 0, 0.3); */
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.1);
    padding-right: 1rem;
    margin-right: 1rem;

}


.searchBox>input,
.searchBox>input:focus,
.searchBox>input:active {
    border: none;
    outline: none;
    background: none;
    width: 100%;

}

#search::-webkit-search-cancel-button {
    background: pink;
    -webkit-appearance: none;
}

.icon {
    padding: 1rem;
}

#filter {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 1rem;
    background-color: white;
    border: none;
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.1);
}

#category {
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

#cats-item {
    width: 7rem;
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 1rem;
}

.cats {
    align-items: center;

    flex-direction: column;
    display: flex;
    color: rgba(0, 0, 0, .75);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: white;
    border-radius: 1rem;
}

.cats-img {
    width: 3.5rem;
    height: 3.5rem;
}

.cat-text {
    margin-top: 1rem;
    text-transform: capitalize;

}

#cats-item {
    margin-right: 1rem;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: pink;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 192, 203, 0.75);
}